@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap");

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, Poppins, Segoe UI, Roboto, Oxygen, Ubuntu,
    Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
.red {
  background-color: red;
}
.blue {
  background-color: blue;
}
.green {
  background-color: green;
}

.questions-title {
  margin-bottom: 27px;
}

.question-title {
  margin-bottom: 8px;
}

.question-option {
  margin-bottom: 8px;
}

.error {
  color: red;
}

.error-label {
  font-size: 11px;
  line-height: 19px;
}

.peanut-button {
  width: 160px;
  background-color: #212529;
}