@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap");

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, Poppins, Segoe UI, Roboto, Oxygen, Ubuntu,
    Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
.red {
  background-color: red;
}
.blue {
  background-color: blue;
}
.green {
  background-color: green;
}

.questions-title {
  margin-bottom: 27px;
}

.question-title {
  margin-bottom: 8px;
}

.question-option {
  margin-bottom: 6px !important;
}

.error {
  color: red;
}

.error-label {
  font-size: 11px;
  line-height: 19px;
}

.alternatives-question {
  margin-bottom: 26px;
}

.long-question {
  padding-top: 10px;
}

.peanut-button {
  width: 160px !important;
  margin-left: auto;
  margin-right: auto;
  margin-top: 28px !important;
  background-color: #212529;
}

.peanut-button-wide {
  width: 240px !important;
}

.thankyou {
  margin-top: 50px;
}

.thankyou h3 {
  font-size: 28px;
  margin-bottom: 34px;
  font-weight: 500;
}

.thankyou p {
  font-size: 16px;
  margin-bottom: 12px;
  line-height: 24px;
}

.centered {
  text-align: center;
}

/*hacks*/
.was-validated .form-check-input:valid ~ .form-check-label, .form-check-input.is-valid ~ .form-check-label {
  color: #212529 !important;
}

.was-validated .form-check-input:invalid ~ .form-check-label, .form-check-input.is-invalid ~ .form-check-label {
  color: #212529 !important;
}

.was-validated .form-check-input:invalid, .form-check-input.is-invalid {
  border-color: #212529 !important;
}

.was-validated .form-control:invalid, .form-control.is-invalid {
  border-color: #212529 !important;
}